
/.bundle
/.cache
/.gem
/.ssh
/.vagrant.d
/.vscode

/AppData
/Contacts
/Desktop
/Documents
/Downloads
/Dropbox
/Favorites
/IntelGraphicsProfiles
/Links
/Music
/OneDrive
/Pictures
/Saved Games
/Searches
/Videos

/NTUSER*

/.viminfo
/_viminfo

/.NERDTreeBookmarks
/.VirtualBox
/VirtualBox VMs
